/* Reset */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a {
	color: currentColor;
	text-decoration: none;
}

button {
    background: none;
    border: none;
    display: block;
}

ul,
ol {
	list-style: none;
}

/* APP layout */

.app-vh {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.app-vh .content {
    flex-grow: 1;
    display: flex;
    height: 0;
}

.app-vh .player {
    padding: 17px 10px;
    background-color: #282828;
    flex-shrink: 0;
}

.content .sidebar {
    width: 230px;
    background-color: black;
    flex-shrink: 0;
} 

.content .main-content {
    flex-grow: 1;
    background-color: #141922;
}

/* Player */

.player {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.player .player-commands {
    width: 37%;
}

.player-cmd {
    display: flex;
    gap: 22px;
    justify-content: center;
    align-items: center;
    padding-bottom: 12px;
}

.player-cmd button > i {
    font-size: 16px;
    color: white;
}

.player-cmd .play-btn {
    font-size: 32px;
    padding: 0 10px;
}

.player-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    font-size: 10px;
    font-weight: 600;
}

.player-bar .progress-bar {
    flex-grow: 1;
    background-color: #5A5A5A;
    height: 5px;
    border-radius: 999px;
}

.player-bar .progress-bar .current-progress {
    background-color: #C1C1C1;
    width: 9.1%;
    height: 5px;
    border-radius: 999px;
}

.song-info {
    display: flex;
    align-items: center;
}

.song-img {
    width: 42px;
    height: 42px;
    margin-right: 12px;
    flex-shrink: 0;
}

.song-img img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.song-name {
    font-size: 10px;
    padding-right: 44px;
}

.song-name p {
    color: #878787;
    font-size: 8px;
}

.save-icons {
    color: #878787;
    font-size: 14px;
    display: flex;
    gap: 14px;
}

.volume-commands {
    display: flex;
    align-items: center;
    gap: 14px;
}

.volume-commands .progress-bar {
    width: 120px;
    flex-grow: 1;
    background-color: #5A5A5A;
    height: 5px;
    border-radius: 999px;
}

.volume-commands .progress-bar .current-progress {
    background-color: #C1C1C1;
    width: 9.1%;
    height: 5px;
    border-radius: 999px;
}

/* Sidebar */

.sidebar {
    padding: 20px 20px 7px 20px ;
    color: white;
    display: flex;
    flex-direction: column;
}

.logo .logo-desktop {
    height: 40px;
    margin-bottom: 30px;
}

.logo .logo-mobile {
    height: 28px;
    display: none;
    margin-top: 5px;
    margin-bottom: 17px;
}

.sidebar-cta a img {
    height: 22px;
}

.home,
.search,
.library {
    display: flex;
    align-items: center;
}

.search,
.library {
    color: #ACACAC;
}

.sidebar-cta .home-cta,
.sidebar-cta .search-cta {
    margin-bottom: 12px; 
}

.home-cta a span,
.search-cta a span,
.library-cta a span {
    font-size: 12px;
    margin-left: 8px;
}

.active-bar {
    background-color: #ADFF2F;
    width: 3px;
    height: 35px;
    margin-left: -20px;
}

.home {
    padding-left: 17px;
}

.home-cta {
    align-items: center;    
}

.playlist .plus-btn {
    height: 37px;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 18px;
    background-color: #A3A3A3;
    margin-right: 10px;
}

.playlist {
    color: #A3A3A3;
    font-size: 12px;
}

.playlist h3 {
    color: white;
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 14px;
    text-transform: uppercase;
}

.playlist .new-playlist {
    align-items: center;
    margin-bottom: 22px;
}

.playlist ul li {
    padding-bottom: 20px;
}

.sidebar .profile {
    margin-top: auto;
}

.sidebar .profile .download-cta {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #A3A3A3;
    padding-bottom: 12px;
    border-bottom: 1px solid #A3A3A3;
}

.profile-info .profile-img {
    background-color: #808080;
    height: 25px;
    border-radius: 50%;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-info .profile-img img {
    object-fit: cover;
    object-position: center;
    height: 19px;
}

.profile-info {
    margin-top: 14px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile-name {
    font-size: 12px;
}

/* Main Content */

.main-content {
    position: relative;
    overflow: auto; 
}

.upgrade-banner {
    position: absolute;
    background-color: #00000066;
    color: white;
    height: 90px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

.upgrade-btn {
    border: 1px solid white;
    border-radius: 999px;
    padding: 15px 40px;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 900;
    margin-right: 20px;
}

.menu {
    display: flex;
    margin-top: 112px;
    color: #A3A3A3;
    justify-content: center;
}

.menu .main-menu {
    display: flex;
    gap: 22px;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 40px;
}

.main-menu >*:first-child::after {
    display: table;
    content: '';
    width: 30px;
    border-bottom: 2px solid #ADFF2F;
    margin: 5px auto;
    
} 

.track-list {
    display: flex;
    color: white;
    justify-content: space-between;
    text-align: center;
    align-items: flex-start;
    padding: 0 20px;
    gap: 15px;
}

.track-list .col {
    width: calc((100% / 6) - 15px);
} 

.main-title {
    color: white;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 15px;
    padding-left: 20px;
}

.main-subtitle {
    color: #A3A3A3;
    padding-left: 20px;
    margin-bottom: 25px;
    font-size: 10px;
}

.card {
    max-width: 177px;
}

.card h5 {
    color: #A3A3A3;
    font-size: 10px;
}

.card h4 {
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.album-cover {
    max-width: 177px;
    aspect-ratio: 1/1;
    position: relative;
}

.album-cover img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

/* Utilities */

.line-br {
    display: none;
}

.d-flex {
    display: flex;
}

.fxstart {
    justify-content: flex-start;
}

.circle {
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
}

/* Hover */

.play-overlay {
    position: absolute;
    background-color: rgba(0, 0 , 0, 0.5);
    width: 100%;
    height: 100%;
    top: 0; 
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    display: none;
}

.card:hover .play-overlay {
    display: block;
    display: flex;
}

/* Debug */

.debug {
    border: 1px solid green;
    height: 100%;
}

/*  Media query 
    Desktop
    First   */

@media (max-width: 878px) {
    .player-bar {
        gap: 15px;
    }

    .track-list {
        flex-wrap: wrap;
        gap: 10px;
        justify-content: flex-start;
    }

    .track-list .col {
       width: calc((100% / 4) - 10px);
    }
}

@media (max-width: 639px) {
    .player-bar {
        gap: 10px;
    }

    .song-name {
        padding-right: 30px;
    }

    .save-icons {
        flex-direction: column;
        gap: 5px;
    }

    .song-img {
        width: 38px;
        height: 38px;
    }

    .volume-commands .progress-bar {
        width: 105px;
    }

    
    .track-list .col {
        width: calc((100% / 2) - 10px);
    }
}

@media (max-width: 552px) {
    .content .sidebar {
        width: 50px;
    }

    .song-name {
        padding-right: 25px;
    }

    .line-br {
        display: inline;
    }

    .song-img {
        width: 30px;
        height: 30px;
    }

    .volume-commands {
        gap: 8px;
    }

    .volume-commands .progress-bar {
        width: 85px;
    }

    .active-bar {
        display: none;
    }

    .home {
        padding-left: 0;
    }

    .sidebar {
        align-items: center;
    }

    .sidebar-cta span {
        display: none;
    }

    .sidebar {
        padding: 0;
    }

    .logo .logo-desktop {
        display: none;
    }

    .logo .logo-mobile {
        display: block;
    }

    .playlist  {
        display: none;
    }

    .profile .profile-name {
        display: none;
    }
    .profile .download-cta p {
        display: none;
    }

    .sidebar .profile .download-cta {
        border: none;
        justify-content: center;
    }

    .profile .profile-img {
        margin-bottom: 10px;
    }

    .track-list .col {
        width: calc((100% / 2) - 5px);
    }
    
    .col .card,
    .col .card .album-cover  {
        max-width: 220px;
    }
}